<%= partial 'partials/head' %>
<%= partial 'partials/header' %>

  <div class="container">

    <h1><%= current_page.title %></h1>

    <iframe width="1024" height="680" src="//www.youtube.com/embed/<%= current_page.data.youtubecode %>?rel=0&vq=hd720&showinfo=0&autohide=1&thumbnail=default" frameborder="0" allowfullscreen></iframe>

    <%= yield %>

  </div>

<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>
